{% extends 'base.html' %}

{% block subtitulo %} - Admin - Investidor {% endblock %}

{% block styles %}
<!--    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/dataTables.jqueryui.min.css') }}" />-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/dataTables.bootstrap4.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/bootstrap-select.min.css') }}" />
	<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="{{ static_autoversion('pages/css/PagInvestidor.css') }}" />
{% endblock %}

{% block content %}

	<!-- Div Main Content -->
	<section class="content">
		<div class="container">

			<!-- Div Titulo Pag -->
			<div class="row clearfix">
				<div class="col-lg-12">
					<div class="card border">
						<div class="body block-header">
							<div class="row">
								<div class="col-lg-6 col-md-8 col-sm-12">
									<h2>Investidor</h2>
									<ul class="breadcrumb p-l-0 p-b-0 ">
										<li class="breadcrumb-item"><a href="{{ url_for('principal.index') }}"><i class="icon-home"></i></a></li>
										<li class="breadcrumb-item active">Investidor</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Div Titulo Pag -->

			<div id="AppInvestiores"> </div>

			{% include 'component_rodape.html' %}

		</div>
	</section>
	<!-- Div Main Content -->

{% endblock %}

{% block modal %}

	<!-- Modal Detalhe -->
	<div class="modal fade" v-model="PopModalDetalheIvestidorNome" id="PopModalDetalheIvestidorNome" name="PopModalDetalheIvestidorNome" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header btn-secondary">
					<h6 class="modal-title"> <strong>Alterar Nome Investidor</strong> </h6>
				</div>
				<div class="modal-body" style="overflow-y: auto; max-height:500px;">
					<form role="form" novalidate action="javascript:void(0);" method="POST">
						<input type="hidden" name="txtInvestNmIdUsuario" id="txtInvestNmIdUsuario">
						<div class="form-group form-row">
							<div class="col-2"> </div>
							<div class="col-2"> </div>
							<div class="col-6"> </div>
						</div>
						<div class="form-group form-row" style="margin-bottom: 6px;!important; ">
							<div class="col-2"> </div>
							<div class="col-2"> <label style="font-size:11px;" class="font-weight-bold" for="txtInvestNmNomeUsuario">Nome:</label> </div>
							<div class="col-6"> <input style="font-size:11px;" class="form-control form-control-sm" v-model="txtInvestNmNomeUsuario" id="txtInvestNmNomeUsuario" name="txtInvestNmNomeUsuario" type="text" maxlength="100" required> </div>
						</div>
						<div class="form-group form-row">
							<div class="col-1"> </div>
							<div class="col-10" id="AreaAlertaModalCad"> </div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<a @click="dlterarNomeInvestidor();" style="width: 120px;" class="btn btn-sm btn-primary font-weight-bold" id="BtnModalDetalheInvestNmSalvar" name="BtnModalDetalheInvestNmSalvar" href="javascript:void(0);" role="button" aria-pressed="true"> <i id="iSalvar" name="iSalvar" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Salvar </a>
					<button type="button" class="btn btn-sm btn-outline-secondary" style="width: 120px;" name="BtnModalDetalheInvestNmCancelar" id="BtnModalDetalheInvestNmCancelar" data-dismiss="modal"> <i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Cancelar&nbsp; </button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Detalhe -->

	<!-- Modal Confirmacao -->
	<div class="modal fade" v-model="PopModalDelInv" id="PopModalDelInv" name="PopModalDelInv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-dark text-white">
					<h6 class="modal-title" v-model="exampleModalLabel3" id="exampleModalLabel3"><i class="fa fa-lg fa-check-square-o"></i>&nbsp; Exclusão... </h6>
				</div>
				<div class="modal-body">
					<input type="hidden" v-model="txtIdUserDel" id="txtIdUserDel" name="txtIdUserDel">
					<p class="text-secondary">Você realmente deseja excluir o Investidor?</p>
					<div id="AreaAlertaModalExc"> </div>
				</div>
				<div class="modal-footer">
					<a @click="excluirDadosInvestidor();" class="btn btn-sm btn-primary" id="BtnModalDelInvSim" style="width: 120px" name="BtnModalDelInvSim" href="javascript:void(0);" role="button" aria-pressed="true"> <i id="iExcluir" name="iExcluir" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Sim </a>
					<button style="width: 120px" type="button" name="BtnModalDelInvNao" id="BtnModalDelInvNao" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">&nbsp;Não&nbsp;</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Confirmacao -->

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='assets/js/datatablescripts.bundle.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/dataTables.buttons.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/buttons.bootstrap4.min.js') }}"></script>
<!--	<script src="{{ url_for('static', filename='plugins/js/bootstrap-select.min.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/defaults-pt_BR.min.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/jquery.dataTables.min.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/dataTables.bootstrap4.min.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/dataTables.jqueryui.min.js') }}"></script>-->
	<script src="https://unpkg.com/gridjs/dist/gridjs.development.js"></script>
	<script src="{{ static_autoversion('pages/js/PagInvestidor.js') }}"></script>
	<script>
		$(document).ready(function() {
			$("#MnPrincinvestidor").addClass("active open");
		});
	</script>
{% endblock %}
