<!-- AbaEvolucaoDetalhada -->
<div role="tabpanel" class="tab-pane" id="AbaEvolucaoDetalhada">

    <!-- Div Conteudo Pag -->
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card border">
                <div class="header">
                    <h2><strong>Evolução</strong> Detalhada</h2>
                </div>
                <div class="body">

                    <!-- Div Row clearfix -->
                    <div class="row clearfix">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-right">
                            <button style="font-size: 12px; width: 120px; " type="button" class="btn btn-round bt n-simple btn-md btn-info    btn-filter-cms" data-target="todos">Todos</button>
                            <button style="font-size: 12px; width: 120px; " type="button" class="btn btn-round btn-simple  btn-md btn-default btn-filter-cms" data-target="qtde">Quantidade</button>
                            <button style="font-size: 12px; width: 120px; " type="button" class="btn btn-round btn-simple  btn-md btn-default btn-filter-cms" data-target="preco">Preço</button>
                            <button style="font-size: 12px; width: 120px; " type="button" class="btn btn-round btn-simple  btn-md btn-default btn-filter-cms"    data-target="total">Total</button>
                        </div>
                    </div>
                    <!-- Div Row clearfix -->

                    <br />

                    <!-- Div Row clearfix -->
                    <div class="row clearfix">
                        <div  id="DivEvolucaoDetalhada" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center" style="padding-left: 5px; padding-right: 5px;" >
                            <i class="fa fa-spinner fa-spin fa-5x fa-pulse fa-fw" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- Div Row clearfix -->

                    <br />

                </div>
            </div>
        </div>
    </div>
    <!-- Div Conteudo Pag -->

</div>
<!-- AbaEvolucaoDetalhada -->