
<!-- AbaExtrato -->
<div class="tab-pane fade show active" id="AbaExtrato" role="tabpanel" aria-labelledby="oper-extrato">

	<!-- Div Conteudo Pag -->
	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card border">
				<div class="header">
					<h2><strong>Extrato</strong></h2>
				</div>
				<div class="body">

					<!-- Div Row clearfix -->
					<div class="row clearfix  align-items-end">
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
							<p class="font-weight-bold ">Data Inicial:</p>
							<input style="font-size:12px;" type="date" class="form-control" name="txtFiltroAnaliseExtratDataIni" id="txtFiltroAnaliseExtratDataIni">
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
							<p class="font-weight-bold ">Data Final:</p>
							<input style="font-size:12px;" type="date" class="form-control" name="txtFiltroAnaliseExtratDataFim" id="txtFiltroAnaliseExtratDataFim">
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 text-left">
							<a onclick="fCarregarGridAnaliseExtrat('/');" id="btnAnaliseExtratPesquisar" name="btnAnaliseExtratPesquisar" style="width: 170px;" class="btn btn-info btn-round" role="button" aria-pressed="true" href="javascript:void(0);"> <i id="iRefreshExtrat" name="iRefreshExtrat" class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Pesquisar </a>
						</div>
					</div>
					<!-- Div Row clearfix -->

					<br />

					<!-- Div Row clearfix -->
					<div class="row clearfix">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="AreaAlertaPrincAnaliseExtrato"> <br /> </div>
					</div>
					<!-- Div Row clearfix -->

					<!-- DivAnaliseExtrato -->
					<div class="row clearfix">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="DivAnaliseExtrato">
							<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
						</div>
					</div>
					<!-- DivAnaliseExtrato -->

					<br />
					<br />

				</div>
			</div>
		</div>
	</div>
	<!-- Div Conteudo Pag -->

</div>
<!-- AbaExtrato -->
