<!-- AbaEvolucaoProvento -->
<div role="tabpanel" class="tab-pane" id="AbaEvolucaoProvento">

    <!-- Div Conteudo Pag -->
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card border">
                <div class="header">
                    <h2><strong>Evolução</strong> dos Proventos</h2>
                </div>
                <div class="body">

                    <!-- Div Row clearfix -->
                    <div class="row clearfix align-items-end">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
                            <p class="font-weight-bold ">Ativo:</p>
                            <select style="font-size:12px;" id="txtFiltroAnaliseGrafProvAno" name="txtFiltroAnaliseGrafProvAno" class="form-control z-index show-menu-arrow" data-live-search="true" title="Selecione um Ativo..."> </select>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 text-left">
                            <a onclick="fCarregarGraficoProvAnual('/');" id="btnAnaliseGrafProvAnoPesquisar" name="btnAnaliseGrafProvAnoPesquisar" style="width: 170px;" class="btn btn-info btn-round" role="button" aria-pressed="true" href="javascript:void(0);"> <i id="iRefreshGrafProvAno" name="iRefreshGrafProvAno" class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Pesquisar </a>
                        </div>
                    </div>
                    <!-- Div Row clearfix -->

                    <br />

                    <!-- Div Row clearfix -->
                    <div class="row clearfix">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="AreaAlertaPrincAnaliseGrafAno"> </div>
                    </div>
                    <!-- Div Row clearfix -->

                    <br />

                    <!-- Div Row clearfix -->
                    <div class="row clearfix">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div id="DivGraficoAnaliseEvolucaoProventos" style="min-width: auto; max-width: auto; height: 350px; margin: 0 auto; border: 0px solid blue; "> </div>
                        </div>
                    </div>
                    <!-- Div Row clearfix -->

                    <br />

                </div>
            </div>
        </div>
    </div>
    <!-- Div Conteudo Pag -->

</div>
<!-- AbaEvolucaoProvento -->