{% extends 'base.html' %}

{% block subtitulo %} - Corretora {% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/dataTables.bootstrap4.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/bootstrap-select.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ static_autoversion('pages/css/PagCorretora.css') }}" />
	<style>
		.selectpicker { line-height: 10px; }
		#view_group .btn.dropdown-toggle.btn-default{line-height: 10px}
	</style>

{% endblock %}

{% block content %}

	<!-- Div Main Content -->
	<section class="content">
		<div class="container">

			<!-- Div Titulo Pag -->
			<div class="row clearfix">
				<div class="col-lg-12">
					<div class="card border">
						<div class="body block-header">
							<div class="row">
								<div class="col-lg-6 col-md-8 col-sm-12" style="border: 0px solid red; ">
									<h2>Minhas Corretora</h2>
									<ul class="breadcrumb p-l-0 p-b-0 ">
										<li class="breadcrumb-item"><a href="{{ url_for('principal.index') }}"><i class="icon-home"></i></a></li>
										<li class="breadcrumb-item active">Corretora</li>
									</ul>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-right" style="border: 0px solid blue; ">
									<a onclick="fAbrirModalDetalheCorret('/', '', 'Nova');" id="btnCorretNovo" name="btnCorretNovo" style="width: 170px;" class="btn btn-info btn-round btn-s imple" role="button" aria-pressed="true" href="javascript:void(0);"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> &nbsp;Nova Corretora </a>
									<a href="https://apoia.se/tamonabolsa" target="_blank"><img width="120" height="45" src="{{ url_for('static', filename='pages/img/apoia_se_02.jpg') }}" alt="IconeDoar"  /> </a>
									<a href="javascript:void(0);" data-toggle="modal" data-target="#PopModalDoacao"><img width="120" height="50" src="{{ url_for('static', filename='pages/img/BtnDoacao02.png') }}" alt="IconeDoar"  /> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Div Titulo Pag -->

			<!-- Div Conteudo Pag -->
			<div class="row clearfix">
				<div class="col-lg-12">
					<div class="card border">
						<!-- <div class="header">
							<h2><strong>Corretora</strong></h2>
						</div> -->
						<div class="body">

							<!-- Div Row clearfix -->
							<div class="row clearfix">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="AreaAlertaPrinc"> </div>
							</div>
							<!-- Div Row clearfix -->

							<br />

							<!-- Div table-responsive -->
							<div class="table-responsive" id="AreaGrid">
								<table id="Grid" name="Grid" style="font-size: 14px" class="table table-sm table-hover table-condensed nowrap" cellspacing="0" width="100%">
									<thead>
										<tr class="thead-dark font-weight-bold">
											<th>Nome</th>
											<th>CNPJ</th>
											<th>Corretagem</th>
											<th style="display: none;"></th>
											<th>Ação</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
									<tfoot>
									</tfoot>
								</table>
							</div>
							<!-- Div table-responsive -->

						</div>
					</div>
				</div>
			</div>
			<!-- Div Conteudo Pag -->

			{% include 'component_rodape.html' %}

		</div>
	</section>
	<!-- Div Main Content -->

{% endblock %}

{% block modal %}

	<!-- Modal Detalhe -->
	<div class="modal fade" id="PopModalDetalheCorret" name="PopModalDetalheCorret" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-dark text-white">
					<h6> <strong>Corretora</strong> <strong id="PopModalDetalheCorretTit" name="PopModalDetalheCorretTit"></strong> </h6>
				</div>
				<div class="modal-body" style="overflow-y: auto; min-height:300px;; max-height:500px;">

					<form id="FormCorret" name="FormCorret" role="form" novalidate action="javascript:void(0);" method="POST">

						<input type="hidden" name="txtCadCorretId" id="txtCadCorretId">

						<div class="row clearfix" style="margin-bottom: 6px; ">
							<div class="col-2"> </div>
							<div class="col-2"> <label style="font-size:11px;" class="font-weight-bold" for="txtCadCorretoraLista">Corretora</label> </div>
							<div class="col-6"> <select onchange="fBuscarDadosCorretoraLista('/');" style="font-size:12px;" id="txtCadCorretoraLista" name="txtCadCorretoraLista" class="form-control " data-live-search="true" title="Selecione..."></select> </div>
						</div>

						<div class="row clearfix" style="margin-bottom: 4px; ">
							<div class="col-2"> </div>
							<div class="col-2"> <label style="font-size:11px;" class="font-weight-bold" for="txtCadCorretNome">Nome</label> </div>
							<div class="col-6"> <input style="font-size:12px;" disabled class="form-control font-weight-bold disabled" id="txtCadCorretNome" name="txtCadCorretNome" type="text" maxlength="100"> </div>
						</div>

						<div class="row clearfix " style="margin-bottom: 4px; ">
							<div class="col-2"> </div>
							<div class="col-2"> <label style="font-size:11px;" class="font-weight-bold" for="txtCadCorretCNPJ">CNPJ</label> </div>
							<div class="col-4"> <input style="font-size:12px;" disabled class="form-control font-weight-bold disabled" id="txtCadCorretCNPJ" name="txtCadCorretCNPJ" type="text" maxlength="14" onblur="javascript:formataCampoNew(this, FMT_CNPJ)" onkeyup="javascript:validaKey(this,  FMT_CNPJ)"> </div>
						</div>

						<div class="row clearfix" style="margin-bottom: 4px; ">
							<div class="col-2"> </div>
							<div class="col-2"> <label style="font-size:11px;" class="font-weight-bold" for="txtCadCorretValor">Corretagem</label> </div>
							<div class="col-3"> <input style="font-size:12px;" class="form-control text-right" id="txtCadCorretValor" name="txtCadCorretValor" type="text" onfocus="javascript:desformataCampo(this, FMT_DECIMAL,2)" onkeyup="javascript:validaKey(this, FMT_DECIMAL,2)" onblur="javascript:formataCampo(this, FMT_DECIMAL,2)" /> </div>
						</div>

						<div class="row clearfix" style="margin-bottom: 4px; ">
							<div class="col-1"> </div>
							<div class="col-10" id="AreaAlertaModalCad"> </div>
							<div class="col-1"> </div>
						</div>

					</form>

				</div>
				<div class="modal-footer">
					<a onclick="fSalvarDadosCorret('/');" style="width: 140px;" class="btn btn-primary btn-round waves-effect" id="BtnModalDetalheCorretSalvar" name="BtnModalDetalheCorretSalvar" href="javascript:void(0);" role="button" aria-pressed="true"> <i id="iSalvar" name="iSalvar" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Salvar</a>
					<button type="button" class="btn btn-light btn-simple btn-round waves-effect" style="width: 140px;" name="BtnModalDetalheCorretCancelar" id="BtnModalDetalheCorretCancelar" data-dismiss="modal"> <i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Cancelar&nbsp; </button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Detalhe -->

	<!-- Modal Confirmacao -->
	<div class="modal fade" id="PopModalDelCorret" name="PopModalDelCorret" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-dark text-white">
					<h6><i class="fa fa-lg fa-check-square-o"></i>&nbsp; Exclusão... </h6>
				</div>
				<div class="modal-body">
					<input type="hidden" id="txtDelCorretId" name="txtDelCorretId">
					<p class="text-secondary">Você realmente deseja excluir a Corretora?</p>
					<div id="AreaAlertaModalExc"> </div>
				</div>
				<div class="modal-footer">
					<a onclick="fExcluirDadosCorret('/'); return false;" class="btn btn-primary btn-round waves-effect" id="BtnModalDelCorretSim" style="width: 140px" name="BtnModalDelCorretSim" href="javascript:void(0);" role="button" aria-pressed="true"><i id="iExcluir" name="iExcluir" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Sim </a>
					<button style="width: 140px" type="button" name="BtnModalDelCorretNao" id="BtnModalDelCorretNao" class="btn btn-light btn-simple btn-round waves-effect" data-dismiss="modal">&nbsp;Não&nbsp;</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Confirmacao -->

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='assets/js/datatablescripts.bundle.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagCorretora.js') }}"></script>
	<script>
		$(document).ready(function() {
			fLimparGrid('/');
			fCarregarGrid('/');
			buscar_todos_corretora_lista('/', 'txtCadCorretoraLista', false, false, true, false);
		});
	</script>
{% endblock %}
