{% extends 'base.html' %}

{% block subtitulo %} - Portfólio {% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/dataTables.bootstrap4.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/bootstrap-select.min.css') }}" />
<!--    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/highcharts.min.css') }}" />-->
    <link type="text/css" rel="stylesheet" href="{{ static_autoversion('pages/css/PagPortfolio.css') }}" />
{% endblock %}

{% block content %}

    <!-- Div Main Content -->
    <section class="content">
        <div class="container">

            <!-- Div Titulo Pag -->
            <div class="row clearfix" style="border: 0px solid blue;">
                <div class="col-lg-12">
                    <div class="card border" style="margin-bottom: 10px;">
                        <div class="body block-header">
                            <div class="row">
                                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12" style="border: 0px solid red; ">
                                    <h2>Portfólio</h2>
                                    <ul class="breadcrumb p-l-0 p-b-0 ">
                                        <li class="breadcrumb-item"><a href="{{ url_for('principal.index') }}"><i class="icon-home"></i></a></li>
                                        <li class="breadcrumb-item active">Portfólio</li>
                                    </ul>
                                </div>
                                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 text-right" style="border: 0px solid blue; ">

                                    <div class="row">
                                        <!--
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="border: 0px solid blue; ">
                                        </div>
                                            <div class="col-xl-1 col-lg-5 col-md-11 col-sm-11" style="border: 0px solid blue; ">
                                            <a onclick="fAbrirModalDetalheEmailInfo('/');" id="btnPortEmailInfo" id="btnPortEmailInfo" style="width: 172px;" class="btn btn-primary btn-round btn-simple" role="button" aria-pressed="true" href="javascript:void(0);"> <i class="fa fa-send" aria-hidden="true"></i>&nbsp;E-mail Informativo </a>
                                        </div>
                                         -->
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" style="border: 0px solid blue; ">
                                            <a onclick="fAbrirModalDetalhePortfolio('/', 'Novo');" title="Criar Portfólio Personalizado" id="btnPortAddPortfolio" name="btnPortAddPortfolio" style="width: 170px;" class="btn btn-primary btn-round btn-simple" role="button" aria-pressed="true" href="javascript:void(0);"> <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp;Criar Portfólio </a>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a onclick="fAbrirModalDetalheAtivo('/');" title="Adicionar Ativos ao Portfólio Personalizado" id="btnPortAddAtivo" name="btnPortAddAtivo" style="width: 58px; font-size:12px; display: none; " class="btn btn-primary btn-round btn-simple" role="button" aria-pressed="true" href="javascript:void(0);"> <i class="fa fa-plus-square" aria-hidden="true"></i> </a>
                                                <a onclick="fAbrirModalDetalhePortfolio('/', 'Alterar');" title="Alterar Nome do Portfólio Personalizado" id="btnPortAltPortfolio" name="btnPortAltPortfolio" style="width: 58px; font-size:12px; display: none; " class="btn btn-primary btn-round btn-simple" role="button" aria-pressed="true" href="javascript:void(0);"> <i class="fa fa-pencil fa-lg" aria-hidden="true"></i> </a>
                                                <a onclick="fAbrirModalRemoverPortfolio('/');" title="Remover Portfólio Personalizado" id="btnPortExcPortfolio" name="btnPortExcPortfolio" style="width: 58px; font-size:12px; display: none; " class="btn btn-primary btn-round btn-simple" role="button" aria-pressed="true" href="javascript:void(0);"> <i class="fa fa-minus-square" aria-hidden="true"></i> </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" style="border: 0px solid blue; ">
                                            <a onclick="fRecarregarPagina('/', '');" id="btnPortAtualizarPag" id="btnPortAtualizarPag" style="width: 170px;" class="btn btn-primary btn-round btn-simple" role="button" aria-pressed="true" href="javascript:void(0);"> <i id="iRefresh" name="iRefresh" class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Atualizar </a>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="border: 0px solid blue; ">
                                            <a href="https://apoia.se/tamonabolsa" target="_blank"><img width="120" height="45" src="{{ url_for('static', filename='pages/img/apoia_se_02.jpg') }}" alt="IconeDoar"  /> </a>
                                            &nbsp;
                                            <a href="javascript:void(0);"data-toggle="modal" data-target="#PopModalDoacao"><img width="120" height="50" src="{{ url_for('static', filename='pages/img/BtnDoacao02.png') }}" alt="IconeDoar"  /> </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Titulo Pag -->

            <!-- Div Tasb -->
            <div class="row clearfix" style="border: 0px solid red;">
                <div class="col-lg-12">
                    <div class="float-right" style="margin: 0px; padding: 0px;">
                        <ul class="nav nav-tabs card-header-tabs font-weight-bold" role="tablist" id="TabPortfolios" style="margin: 0px; padding: 0px;">
                            {% for nome in lista_nomes %}
                                <li class="nav-item"> <a style="font-size: 10px; " class="border border-secondary nav-link" id="Aba{{ nome[0] }}" data-toggle="tab" href="#{{ nome[0] }}" role="tab" aria-controls="{{ nome[0] }}" aria-selected="false" title="Portfólio Personalizado - Ativos Selecionados da Carteira"><i class="fa fa-sliders"></i>&nbsp; {{ nome[1] }}</a> </li>
                            {% endfor %}
                            <li class="nav-item"> <a style="font-size: 10px; " class="border border-secondary nav-link" id="AbaPortfolioCriptos" data-toggle="tab" href="#PortfoliCriptos"  role="tab" aria-controls="PortfolioCriptos" aria-selected="false" title="Portfólio CRIPTOs - Todos as Bdrs da Carteira"> <i class="fa fa-bar-chart"></i>&nbsp; CRIPTOs </a> </li>
                            <li class="nav-item"> <a style="font-size: 10px; " class="border border-secondary nav-link" id="AbaPortfolioBdrs"    data-toggle="tab" href="#PortfolioBdrs"    role="tab" aria-controls="PortfolioBdrs"    aria-selected="false" title="Portfólio BDRs - Todos as Bdrs da Carteira"> <i class="fa fa-bar-chart"></i>&nbsp; BDRs </a> </li>
                            <li class="nav-item"> <a style="font-size: 10px; " class="border border-secondary nav-link" id="AbaPortfolioIndices" data-toggle="tab" href="#PortfolioIndices" role="tab" aria-controls="PortfolioIndices" aria-selected="false" title="Portfólio ETFs - Todos os Etfs da Carteira"> <i class="fa fa-bar-chart"></i>&nbsp; ETFs </a> </li>
                            <li class="nav-item"> <a style="font-size: 10px; " class="border border-secondary nav-link" id="AbaPortfolioFundos"  data-toggle="tab" href="#PortfolioFundos"  role="tab" aria-controls="PortfolioFundos"  aria-selected="false" title="Portfólio FIIs - Todos os Fiis da Carteira"> <i class="fa fa-bar-chart"></i>&nbsp; FIIs </a> </li>
                            <li class="nav-item"> <a style="font-size: 10px; " class="border border-secondary nav-link" id="AbaPortfolioAcoes"   data-toggle="tab" href="#PortfolioAcoes"   role="tab" aria-controls="PortfolioAcoes"   aria-selected="false" title="Portfólio Ações - Todos as Ações da Carteira"> <i class="fa fa-bar-chart"></i>&nbsp; AÇÕES </a> </li>
                            <li class="nav-item"> <a style="font-size: 10px; " class="border border-secondary nav-link active" id="AbaPortfolio" data-toggle="tab" href="#Portfolio"        role="tab" aria-controls="Portfolio"        aria-selected="true"  title="Portfólio Completo - Todos os Ativos da Carteira"><i class="fa fa-bar-chart"></i>&nbsp; Portfólio</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Div Tasb -->

            <br />

            <!-- Div Row Form -->
            <div class="row clearfix" style="margin-bottom: 6px;!important; ">
                <div class="col" id="AreaAlertaPrinc"> </div>
            </div>
            <!-- Div Row Form -->

            <!-- Div Card Resumo Carteira -->
            <div class="row clearfix">
                <div class="col-xl-9 col-lg-9 col-md-6 col-sm-12">
                    <div class="card border">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>CARTEIRA</strong></h2>
                        </div>
                        <ul class="row profile_state list-unstyled">
                            <li class="col-lg-3 col-md-3 col-6">
                                <div class="body" style="min-height: 120px; height: 120px;">
                                    <br />
                                    <span>Total Investido</span>
                                    <h4>
                                        <a onclick="fMostrarEsconderValores();" href="javascript:void(0);" style="text-decoration:none">
                                            <span class="font-weight-bold text-muted DivTextValor" style="font-size: 20px;" id="DivPortTotInvest">R$ 0,00</span>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-3 col-6">
                                <div class="body" style="min-height: 120px; height: 120px;">
                                    <br />
                                    <span>Total Atual</span>
                                    <h4>
                                        <a onclick="fMostrarEsconderValores();" href="javascript:void(0);" style="text-decoration:none">
                                            <span class="font-weight-bold text-muted DivTextValor" style="font-size: 20px;" id="DivPortTotAtual">R$ 0,00</span>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-3 col-6">
                                <div class="body" style="min-height: 120px; height: 120px;">
                                    <br />
                                    <span>Total Proventos</span>
                                    <h4>
                                        <a onclick="fMostrarEsconderValores();" href="javascript:void(0);" style="text-decoration:none">
                                            <span class="font-weight-bold text-muted DivTextValor" style="font-size: 20px;" id="DivPortRendimento">R$ 0,00</span>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-3 col-6">
                                <div class="body" style="min-height: 120px; height: 120px;">
                                    <br />
                                    <span>Total Aluguel</span>
                                    <h4>
                                        <a onclick="fMostrarEsconderValores();" href="javascript:void(0);" style="text-decoration:none">
                                            <span class="font-weight-bold text-muted DivTextValor" style="font-size: 20px;" id="DivPortAluguel">R$ 0,00</span>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 28px;" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                            </li>
                        </ul>
                        <hr>
                        <ul class="row profile_state list-unstyled">
                            <li class="col-lg-6 col-md-6 col-6">
                                <div class="body" style="min-height: 120px; height: 120px;">
                                    <span>Total Valorização</span>
                                    <h4>
                                        <a onclick="fMostrarEsconderValores();" href="javascript:void(0);" style="text-decoration:none">
                                            <span class="font-weight-bold text-muted DivTextValor" style="font-size: 24px;" id="DivPortValorizacao">R$ 0,00 <small><em>( 0,00% )</em></small></span>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 34px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 34px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 34px;" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                            </li>
                            <li class="col-lg-6 col-md-6 col-6">
                                <div class="body" style="min-height: 120px; height: 120px;">
                                    <span>Total Ganho/Perda</span>
                                    <h4>
                                        <a onclick="fMostrarEsconderValores();" href="javascript:void(0);" style="text-decoration:none">
                                            <span class="font-weight-bold text-muted DivTextValor" style="font-size: 24px;" id="DivPortGanhoPerda">R$ 0,00 <small><em>( 0,00% )</em></small></span>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 34px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 34px;" aria-hidden="true"></i>
                                            <i class="fa fa-eye-slash text-muted text-center DivIconeValor" style="display: none; font-size: 34px;" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="card border info-box-2" style="min-height: 317px; height: 317px;">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>GRÁFICOS</strong></h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px; min-height: 120px; height: 120px;">
                            <div id="DivGraficoPortGeral" style="min-width: auto; max-width: auto; height: 250px; margin: 0 auto; border: 0px solid blue; "> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Card Resumo Carteira -->

            <!-- Div Card Resumo Ativos  -->
            <div class="row clearfix">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <div class="card border" style="min-height: 510px; max-height: 510px; height: 510px;">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>(%)</strong> PERCENTUAL DOS ATIVOS</h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px;">

                            <div id="DivGridPortfPercent" class="chart-container" style="max-height: 440px; height: 440px; overflow-y:auto; -webkit-overflow-scrolling: touch;"> </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="card border" style="min-height: 510px; max-height: 510px; height: 510px;">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><a href="{{ url_for('valorizacao.index') }}"><span class="text-muted"><strong>VALORIZAÇÃO</strong>  DO DIA</span></a></h2>
                        </div>
                        <div class="body" style="max-height: 425px; height: 425px; margin-bottom: 1px; overflow-y:auto; -webkit-overflow-scrolling: touch; padding: 5px; padding-top: 5px;">
                            <div id="ListaValDia" style=""> </div>
                        </div>
                        <div class="card-footer border-light bg-transparent text-center" style="back ground-color:#d0d3d6; padding: 5px; padding-botom: 1px;">
                            <div id="ListaValDiaTotal" style="border: 0px solid red; max-height: 31px; height: 31px; "></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">

                    <div class="row clearfix">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                            <div class="card border" style="margin-bottom: 10px; padding: 5px; min-height: 160px; max-height: 160px; height: 160px; border: 0px solid green;">
                                <div class="header" style="padding: 5px; padding-top: 10px; padding-left: 10px; border: 0px solid green;">
                                    <h2><strong>ÍNDICES</strong></h2>
                                </div>
                                <div class="body" style="max-height: 120px; height: 120px; overflow-y:auto; -webkit-overflow-scrolling: touch; padding: 5px; padding-top: 5px; border: 0px solid red;">
                                    <div id="ListaIndice" style=""> </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                            <div class="card border" style="min-height: 340px; max-height: 340px; height: 340px;">
                                <div class="header" style="padding: 5px; padding-top: 10px; padding-left: 10px; border: 0px solid green;">
                                    <h2><a href="{{ url_for('ativo.index') }}"><span class="text-muted"><strong>ATIVOS</strong> NO RADAR</span></a></h2>
                                </div>
                                <div class="body" style="max-height: 290px; height: 290px; overflow-y:auto; -webkit-overflow-scrolling: touch; padding: 5px; padding-top: 5px;">
                                    <div id="ListaRadar" style=""> </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Div Card Resumo Ativos -->

            <!-- Div Gráficos Ativos -->
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border" style="min-height: 430px; max-height: 430px; height: 430px;">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>GRÁFICO</strong> CARTEIRA</h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px; height: 500px;">

                            <div id="DivGraficoPortCarteira" style="min-width: auto; max-width: auto; height: 350px; margin: 0 auto; border: 0px solid blue; "> </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Gráficos Ativos -->

            <!-- Div Grid Carteira -->
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>CARTEIRA</strong></h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px;">

                            <!-- Div table-responsive -->
                            <div class="table-responsive" id="AreaGrid">
                                <table id="Grid" name="Grid" style="font-size: 14px" class="table table-sm table-hover table-bord ered table-condensed nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr class="thead-dark font-weight-bold">
                                            <th>Ativo</th>
                                            <th>Quant</th>
                                            <th>Preço Médio</th>
                                            <th>Preço Atual</th>
                                            <th>Preço Teto</th>
                                            <th>Tot. Invest.</th>
                                            <th>Tot. Atual</th>
                                            <th>Valorização(R$)</th>
                                            <th>(%)</th>
                                            <th>Proventos</th>
                                            <th title="Yield on Cost">YOC</th>
                                            <th style="display: none;">Alug</th>
                                            <th style="display: none;">Id</th>
                                            <th style="display: none;">TipoInvest</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                            <!-- Div table-responsive -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Grid Carteira -->

            <!-- Div Gráficos Lucro/Prejuizo -->
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border" style="min-height: 430px; max-height: 430px; height: 430px;">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>GRÁFICO</strong> TOTAL VALORIZAÇÃO</h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px; height: 500px;">

                            <div id="DivGraficoPortValorLucroPrejuizo" style="min-width: auto; max-width: auto; height: 350px; margin: 0 auto; border: 0px solid blue; "> </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Gráficos Lucro/Prejuizo -->

            <!-- Div Gráficos Lucro/Prejuizo -->
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border" style="min-height: 430px; max-height: 430px; height: 430px;">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>GRÁFICO</strong> % VALORIZAÇÃO</h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px; height: 500px;">

                            <div id="DivGraficoPortPercLucroPrejuizo" style="min-width: auto; max-width: auto; height: 350px; margin: 0 auto; border: 0px solid blue; "> </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Gráficos Lucro/Prejuizo -->

            <!-- Div Gráficos Proventos -->
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border" style="min-height: 430px; max-height: 430px; height: 430px;">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>GRÁFICO</strong> TOTAL PROVENTOS</h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px; height: 500px;">

                            <div id="DivGraficoPortProventos" style="min-width: auto; max-width: auto; height: 350px; margin: 0 auto; border: 0px solid blue; "> </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Gráficos Proventos -->

            <!-- Div  Gráficos Setores -->
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>GRÁFICOS</strong> ATIVOS/SETORES</h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px;">

                            <!-- Div Row -->
                            <div class="row clearfix">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="border: 0px solid red; ">
                                    <div id="DivGraficoAtivos" style="min-width: auto; max-width: auto; height: 400px; margin: 0 auto"></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="border: 0px solid blue; ">
                                    <div id="DivGraficoSetores" style="min-width: auto; max-width: auto; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                            <!-- Div Row -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Div  Gráficos Setores -->

            <!-- Div  Gráficos Setores -->
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>GRÁFICOS</strong> SUB-SETORES/SEGMENTOS</h2>
                        </div>
                        <div class="body" style="padding: 20px; padding-top: 10px;">

                            <!-- Div Row -->
                            <div class="row clearfix">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="border: 0px solid red; ">
                                    <div id="DivGraficoSubSetores" style="min-width: auto; max-width: auto; height: 400px; margin: 0 auto"></div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="border: 0px solid blue; ">
                                    <div id="DivGraficoSegmentos" style="min-width: auto; max-width: auto; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                            <!-- Div Row -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Div  Gráficos Setores -->

            <!-- Div Grid ATIVOS/SETOR/SUB-SETOR/SEGMENTO -->
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border">
                        <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                            <h2><strong>ATIVOS</strong> POR SETOR/SUB-SETOR/SEGMENTO</h2>
                        </div>
                        <div class="body" style="padding: 10px; padding-top: 10px;">

                            <div class="table-responsive" id="DivGridAtivoSetor"> </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Grid ATIVOS/SETOR/SUB-SETOR/SEGMENTO -->

			{% include 'component_rodape.html' %}

        </div>

    </section>
<!-- Div Main Content -->

{% endblock %}

{% block modal %}

    <!-- Modal Detalhe -->
    <div class="modal fade" id="PopModalDetalhePortfolio" name="PopModalDetalhePortfolio" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h6> <strong>Portfólio</strong> <strong id="PopModalDetalhePortfolioTit" name="PopModalDetalhePortfolioTit"></strong> </h6>
                </div>
                <div class="modal-body" style="overflow-y: auto; max-height:500px;">

                    <form id="FormPort1" name="FormPort" role="form" novalidate action="javascript:void(0);" method="POST">

                        <input type="hidden" name="txtCadPortfolioId" id="txtCadPortfolioId">

                        <div class="row clearfix" style="margin-bottom: 4px; ">
                            <div class="col-2"> </div>
                            <div class="col-2"> <label style="font-size:12px;" class="font-weight-bold" for="txtCadPortfolioNome">Nome:</label> </div>
                            <div class="col-6"> <input style="font-size:12px;" class="form-control" id="txtCadPortfolioNome" name="txtCadPortfolioNome" type="text" maxlength="100"> </div>
                        </div>

                        <div class="row clearfix" style="margin-bottom: 4px; ">
                            <div class="col-1"> </div>
                            <div class="col-10" id="AreaAlertaModalCad"> </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <a onclick="fSalvarDadosPortfolio('/');" style="width: 140px;" class="btn btn-primary btn-round waves-effect" id="BtnModalDetalhePortfolioSalvar" name="BtnModalDetalhePortfolioSalvar" href="javascript:void(0);" role="button" aria-pressed="true"> <i id="iSalvar" name="iSalvar" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Salvar </a>
                    <button type="button" class="btn btn-light btn-simple btn-round waves-effect" style="width: 140px;" name="BtnModalDetalhePortfolioCancelar" id="BtnModalDetalhePortfolioCancelar" data-dismiss="modal"> <i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Cancelar&nbsp; </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Detalhe -->

    <!-- Modal Detalhe Ativo -->
    <div class="modal fade" id="PopModalDetalheAtivo" name="PopModalDetalheAtivo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h6> <strong>Ativo</strong> </h6>
                </div>
                <div class="modal-body" style="overflow-y: inherit;">

                    <form id="FormPortAtv" name="FormPortAtv" role="form" novalidate action="javascript:void(0);" method="POST">

                        <div class="row clearfix" style="margin-bottom: 4px; ">
                            <div class="col-4 text-right"> <label style="font-size:12px;" class="font-weight-bold" for="txtCadAtivoCodigo">Ativo:</label> </div>
                            <div class="col-5"> <select id="txtCadAtivoCodigo" name="txtCadAtivoCodigo" style="font-size:12px;" class="form-control z-index show-menu-arrow" data-live-search="true" title="Selecione..."> </select> </div>
                        </div>

                        <div class="row clearfix" style="margin-bottom: 4px; ">
                            <div class="col-1"> </div>
                            <div class="col-10" id="AreaAlertaModalCadAtivo"> </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <a onclick="fSalvarDadosAtivo('/');" style="width: 140px;" class="btn btn-primary btn-round waves-effect" id="BtnModalDetalheAtivoSalvar" name="BtnModalDetalheAtivoSalvar" href="javascript:void(0);" role="button" aria-pressed="true"> <i id="iSalvar" name="iSalvar" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Salvar </a>
                    <button type="button" class="btn btn-light btn-simple btn-round waves-effect" style="width: 140px;" name="BtnModalDetalheAtivoCancelar" id="BtnModalDetalheAtivoCancelar" data-dismiss="modal"> <i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Cancelar&nbsp; </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Detalhe Ativo -->

    <!-- Modal Detalhe Ativo Preco Teto-->
    <div class="modal fade" id="PopModalDetalheAtivoPrecoTeto" name="PopModalDetalheAtivoPrecoTeto" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h6> <strong>Definir Preço Teto</strong> </h6>
                </div>
                <div class="modal-body">

                    <form id="FormPortAtvTeto" name="FormPortAtvTeto" role="form" novalidate action="javascript:void(0);" method="POST">

                        <div class="row clearfix" style="margin-bottom: 4px; ">
                            <div class="col-4 text-right"> <label style="font-size:12px;" class="font-weight-bold" for="txtCadAtivoTetoCodigo">Ativo:</label> </div>
                            <div class="col-5"> <input style="font-size:12px;" id="txtCadAtivoTetoCodigo" name="txtCadAtivoTetoCodigo" class="form-control" disabled> </div>
                        </div>

                        <div class="row clearfix" style="margin-bottom: 4px; " id="DivDetOperPreco" name="DivDetOperPreco">
                            <div class="col-4 text-right"> <label style="font-size:12px;" for="txtCadAtivoTetoPreco" class="font-weight-bold">Preço:</label> </div>
                            <div class="col-5"> <input style="font-size:12px;" class="form-control text-right" id="txtCadAtivoTetoPreco" name="txtCadAtivoTetoPreco" type="text" onfocus="javascript:desformataCampo(this, FMT_DECIMAL,2)" onkeyup="javascript:validaKey(this, FMT_DECIMAL,2)" onblur="javascript:formataCampo(this, FMT_DECIMAL,2)"> </div>
                        </div>

                        <div class="row clearfix" style="margin-bottom: 4px; ">
                            <div class="col-1"> </div>
                            <div class="col-10" id="AreaAlertaModalCadAtivoPrecoTeto"> </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <a onclick="fSalvarDadosAtivoPrecoTeto('/');" style="width: 140px;" class="btn btn-primary btn-round waves-effect" id="BtnModalDetalheAtivoPrecoTetoSalvar" name="BtnModalDetalheAtivoPrecoTetoSalvar" href="javascript:void(0);" role="button" aria-pressed="true"> <i id="iSalvarTeto" name="iSalvarTeto" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Salvar </a>
                    <button type="button" class="btn btn-light btn-simple btn-round waves-effect" style="width: 140px;" name="BtnModalDetalheAtivoPrecoTetoCancelar" id="BtnModalDetalheAtivoPrecoTetoCancelar" data-dismiss="modal"> <i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Cancelar&nbsp; </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Detalhe Ativo Preco Teto -->

    <!-- Modal Confirmacao -->
    <div class="modal fade" id="PopModalDelPortfolio" name="PopModalDelPortfolio" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h6><i class="fa fa-lg fa-check-square-o"></i>&nbsp; Exclusão... </h6>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="txtDelPortfolioId" name="txtDelPortfolioId">
                    <p class="text-secondary">Você realmente deseja excluir o Portfólio?</p>
                    <div id="AreaAlertaModalExc"> </div>
                </div>
                <div class="modal-footer">
                    <a onclick="fExcluirDadosPortfolio('/'); return false;" class="btn btn-primary btn-round waves-effect" id="BtnModalDelPortfolioSim" style="width: 140px" name="BtnModalDelPortfolioSim" href="javascript:void(0);" role="button" aria-pressed="true"> <i id="iExcluir" name="iExcluir" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Sim </a>
                    <button style="width: 140px" type="button" name="BtnModalDelPortfolioNao" id="BtnModalDelPortfolioNao" class="btn btn-light btn-simple btn-round waves-effect" data-dismiss="modal">&nbsp;Não&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Confirmacao -->

    <!-- Modal Email info -->
    <div class="modal fade" id="PopModalEmailInfoPortfolio" name="PopModalEmailInfoPortfolio" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h6> <strong>E-mail Informativo ... </strong> </h6>
                </div>
                <div class="modal-body" style="overflow-y: auto; max-height:500px;">

                    <form id="FormPort" name="FormPort" role="form" novalidate action="javascript:void(0);" method="POST">

                        <div class="row clearfix" style="margin-bottom: 6px;!important; border: 0px solid red; ">
                            <div class="col-1" style="border: 0px solid blue; "> </div>
                            <div class="col-2" style="border: 0px solid blue; margin-top: 20px;">
                                <div class="material-switch">
                                    <input id="txtPortEmailInfoStatus" name="txtPortEmailInfoStatus" type="checkbox" />
                                    <label for="txtPortEmailInfoStatus" class="bg-primary"></label>
                                </div>
                            </div>
                            <div class="col-8" style="border: 0px solid blue; ">
                                <label style="font-size:15px;" class="font-weig ht-bold">Gostaria de receber "E-Mail Diário" sobre o Desempenho da sua Carteira <span class="font-weight-bold" id="txtPortEmailInfoCart"></span>? </label>
                            </div>
                            <div class="col-1" style="border: 0px solid blue; "> </div>
                        </div>

                        <div class="row clearfix" style="margin-bottom: 4px; ">
                            <div class="col-1"> </div>
                            <div class="col-10" id="AreaAlertaModalInfo"> </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <a onclick="fSalvarDadosEmailInfoPortfolio('/');" style="width: 140px;" class="btn btn-primary btn-round waves-effect" id="BtnModalDetalhePortfoliooInfoSalvar" name="BtnModalDetalhePortfoliooInfoSalvar" href="javascript:void(0);" role="button" aria-pressed="true"> <i id="iSalvarInfo" name="iSalvarInfo" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp; Salvar </a>
                    <button type="button" class="btn btn-light btn-simple btn-round waves-effect" style="width: 140px;" name="BtnModalDetalhePortfolioInfoCancelar" id="BtnModalDetalhePortfolioInfoCancelar" data-dismiss="modal"> <i class="fa fa-undo" aria-hidden="true"></i> &nbsp;Cancelar&nbsp; </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Email info -->

    <!-- Modal Detalhe Grafico -->
    <div class="modal fade" id="PopModalGraficoPortfolio" name="PopModalGraficoPortfolio" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" style="overflow-y: auto; max-height:600px; height:600px;">
                    <div class="text-right" style="margin-bottom: 10px;"> <button type="button" class="btn btn-light btn-simple waves-effect" data-dismiss="modal"> <i class="fa fa-close" aria-hidden="true"></i> </button> </div>
                    <div id="DivGraficoProtfTradingView"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Detalhe Grafico -->

{% endblock %}

{% block modal_oper %}
	{% include 'component_modal_oper.html' %}
	{% include 'component_modal_oper_cripto.html' %}
{% endblock %}

{% block scripts %}
<!--    <script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>-->
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
	<script src="{{ url_for('static', filename='assets/js/datatablescripts.bundle.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/dataTables.buttons.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/buttons.bootstrap4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/buttons.colVis.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/buttons.html5.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/buttons.print.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/buttons.flash.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/jszip.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/pdfmake.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/vfs_fonts.js') }}"></script>
<!--	<script src="{{ url_for('static', filename='plugins/js/highstock.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/highstock.exporting.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/highstock.export-data.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/highcharts.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/highcharts.exporting.js') }}"></script>-->
<!--	<script src="{{ url_for('static', filename='plugins/js/highcharts.export-data.js') }}"></script>-->
	<script src="{{ url_for('static', filename='plugins/js/highstock.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/highcharts.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/highstock.exporting.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/highstock.export-data.min.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagPortfolio.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagPortfolioCarteira.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagPortfolioCarteiraAtivo.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagPortfolioPrecoTeto.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagPortfolioEmailInfo.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagModalOper.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagModalOperCripto.js') }}"></script>

    <script>
        $(document).ready(function() {

            $('#TabPortfolios a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // e.target        // newly activated tab
                // e.relatedTarget // previous active tab
                fMontarPagina("/");
            });

            {% if gerar_portoflio %}
                fAbrirModalGerarPortfolio("/");
            {% else %}
                fMontarPagina("/");
            {% endif %}

            buscar_todos_codigos_comprados('/', 'txtCadAtivoCodigo', false, false, true);
            buscar_todos_corretora('/', 'selDetOperCorretora', false, false, true);
        });
    </script>

{% endblock %}