
<!-- Div Resumo Provenos -->
<div class="row clearfix">
    <div class="col-lg-7 col-md-6 col-sm-12">
        <div class="card border info-box-2" style="height: 530px;">
            <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                <h2><strong><a href="{{ url_for('proventos.index') }}">MEUS PROVENTOS</a></strong> A RECEBER</h2>
            </div>
            <div class="body" style="max-height: 500px; height: 500px; overflow-y:auto; -webkit-overflow-scrolling: touch; margin: 0px; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px; border: 0px solid red;">

                <!-- Div DivConteudoProv -->
                <div id="DivConteudoProv">
                    <div class="contentAnimated">
                        <div class="animated">
                            <div class="parent"></div>
                            <div class="padding"></div>
                            <div class="title"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="title"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="title"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="title"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                        </div>
                    </div>
                </div>
                <!-- Div DivConteudoProv -->

            </div>
            <div class="card-footer border-light bg-transparent text-center" style="padding: 0px; padding-top: 10px; padding-bottom: 5px; border: 0px solid red; ">
                <span style="font-size:8px;" title="Provento Recebido Pendente Aprovação" class="badge badge-pill badge-danger">Provento Recebido Pend. Aprovação</span>
                <span style="font-size:8px;" title="Provento a Receber Pendente Aprovação" class="badge badge-pill badge-warning text-w hite">Provento a Receber Pend. Aprovação</span>
                <span style="font-size:8px;" title="Provento Recebido Aprovado" class="badge badge-pill badge-success">Provento Recebido Aprovado</span>
                <span style="font-size:8px;" title="Provento a Receber Aprovado" class="badge badge-pill badge-primary">Provento a Receber Aprovado</span>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="card border info-box-2" style="height: 530px;">
            <div class="header" style="padding: 5px; padding-top: 20px; padding-left: 20px;">
                <h2><strong><a href="{{ url_for('calendario.index') }}">DIVULGAÇÃO</a></strong> DE PROVENTOS NO MÊS</h2>
            </div>
            <div class="body" style="max-height: 500px; height: 500px; overflow-y:auto; -webkit-overflow-scrolling: touch; padding-top: 10px; padding-bottom: 10px; border: 0px solid red;">

                <!-- Div DivConteudoCalendarioProv -->
                <div id="DivConteudoCalendarioProv">
                    <div class="contentAnimated">
                        <div class="animated">
                            <div class="parent"></div>
                            <div class="padding"></div>
                            <div class="title"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="title"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="title"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                            <div class="padding"></div>
                            <div class="title"></div>
                            <div class="padding"></div>
                            <div class="description"></div>
                        </div>
                    </div>
                </div>
                <!-- Div DivConteudoCalendarioProv -->

            </div>
            <div class="card-footer border-light bg-transparent text-center">
            </div>
        </div>
    </div>
</div>
<!-- Div Resumo Provenos -->