{% extends 'base.html' %}

{% block subtitulo %} - Redefinir Senha {% endblock %}

{% block content %}

    <!-- Div Main Content -->
    <section class="content">
        <div class="container">

            <!-- Div Titulo Pag -->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body block-header">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-sm-12">
                                    <h2>Redefinição de senha</h2>
                                    <ul class="breadcrumb p-l-0 p-b-0 ">
                                        <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}"><i class="icon-home"></i></a></li>
                                        <li class="breadcrumb-item active">Redefinir senha</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Titulo Pag -->

            <!-- Div Conteudo Pag -->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
<!--                        <div class="header"> <h2><strong>Redefinir </strong> senha</h2> </div>-->
                        <div class="body">
                            <p class="text-center font-weight-bold" style="font-size: 24px;">{{ msg }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Div Conteudo Pag -->

			{% include 'component_rodape.html' %}

        </div>
    </section>
    <!-- Div Main Content -->

{% endblock %}
