{% extends 'base.html' %}

{% block subtitulo %} - Valorização {% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/css/dataTables.bootstrap4.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ static_autoversion('pages/css/PagValorizacao.css') }}" />
{% endblock %}

{% block content %}

	<!-- Div Main Content -->
	<section class="content">
		<div class="container">

			<!-- Div Titulo Pag -->
			<div class="row clearfix">
				<div class="col-lg-12">
					<div class="card">
						<div class="body">
							<div class="block-header">
								<div class="row">
									<div class="col-lg-6 col-md-8 col-sm-12">
										<h2>Valorização</h2>
										<ul class="breadcrumb p-l-0 p-b-0 ">
											<li class="breadcrumb-item"><a href="{{ url_for('principal.index') }}"><i class="icon-home"></i></a></li>
											<li class="breadcrumb-item"><a href="{{ url_for('portfolio.index') }}">Portfólio</a></li>
											<li class="breadcrumb-item active">Valorização</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Div Titulo Pag -->

            <!-- Div Row Clearfix -->
            <div class="row clearfix">
                <!-- Div col -->
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div id="AppValorizacao"> </div>
                </div>
                <!-- Div col -->
            </div>
            <!-- Div Row Clearfix -->

			{% include 'component_rodape.html' %}

		</div>
	</section>
	<!-- Div Main Content -->

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='assets/js/datatablescripts.bundle.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/dataTables.buttons.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/js/buttons.bootstrap4.min.js') }}"></script>
	<script src="{{ static_autoversion('pages/js/PagValorizacao.js') }}"></script>
{% endblock %}
